html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

a {
  cursor: pointer;
}

.container {
  max-width: 1460px;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
}
