html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

a {
  cursor: pointer;
}

.container {
  width: 86.805%;
  margin: 0 auto;
}

.active {
  color: var(--brand-color);
}
