//reset file link https://elad2412.github.io/the-new-css-reset/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img,
picture {
  display: block;
  max-width: 100%;
}

:where(button, a) {
  cursor: pointer;
}

:where(input, select, textarea, button) {
  font: inherit;
  line-height: inherit;
}

// https://css-tricks.com/standardizing-focus-styles-with-css-custom-properties/

:where(a, button, input, textarea, summary, [tabindex="0"]) {
  --outline-thickness: max(2px, 0.08em);
  --outline-style: solid;
  --outline-color: currentcolor;

  &:focus {
    outline: var(--outline-thickness) var(--outline-style) var(--outline-color);
    outline-offset: var(--outline-offset, 0);

    &:not(:focus-visible) {
      outline: none;
    }
  }
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* visually hidden */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.skip-to-content {
  position: absolute;
  z-index: 9999;
  background: hsl( var(--clr-white) );
  color: hsl( var(--clr-dark) );
  padding: .5em 1em;
  margin-inline: auto;
  transform: translateY(-100%);
  transition: transform 250ms ease-in;
}

.skip-to-content:focus {
  transform: translateY(0);
}
