.nav_list {
  display: flex;
  gap: 20px;
}

.nav_link {
  transition: var(--transition-duration);
  border-bottom: 1px solid transparent;
  color: #2B2C34;
  font-size: 20px;
  white-space: nowrap;
}
