html {
  --sp--4: 2px;
  --sp--3: 4px;
  --sp--2: 8px;
  --sp--1: 12px;
  --sp-0: 16px;
  --sp-1: 18px;
  --sp-2: 20px;
  --sp-3: 24px;
  --sp-4: 28px;
  --sp-5: 32px;
  --sp-6: 36px;
  --sp-7: 40px;
  --sp-8: 48px;
  --sp-9: 56px;
  --sp-10: 64px;
  --sp-11: 76px;
  --sp-12: 96px
}