@import "../_functions.scss";

html {
  --sp-xs: #{to-rems(2px)};
  --sp-s: #{to-rems(4px)};
  --sp-m: #{to-rems(8px)};
  --sp-l: #{to-rems(16px)};
  --sp-xl: #{to-rems(24px)};
  --sp-xxl: #{to-rems(32px)};
}
