.header,
.header_wrapper {
  display: flex;
  align-items: center;
}

.header {
  background-color: var(--light-grey);

  :global {
    .active {
      color: var(--brand-color);
      border-bottom: 2px solid;
    }
  }
}

.brand_img_wrapper {
  width: 250px;

  a {
    display: inline-block;
  }
}

.header_wrapper {
  justify-content: space-between;
}
