.header {
  display: flex;
  background-color: #333;
  color: #fff;

  ul {
    gap: 16px;
  }
}

a.active {
  background-color: blue;
  border-bottom: 1px solid red;
}

li {
  a {
    text-transform: capitalize;
    letter-spacing: .4px;
    transition: .23s;
    padding-bottom: 8px;
  }
}
